p {line-height: 1.5; margin-bottom: 15; font-size: 20px; }
#texto1 { font-size: 100px; }
.titulo{font-size:  50px ;font-family: 'Josefin Slab', serif;}
body {background-color: aqua; color: brown; text-align: center; }
#autor {font-style: italic; margin-bottom: 30px; font-family: 'Josefin Slab', serif; font-family: 'BioRhyme Expanded', serif;}
.cancion {margin: auto; padding: 20px 0; text-align: left; width: 400px;}

 #parrafo1:first-letter { font-size: 58px; line-height: 1;margin:2px 5px 0 0;}
 p:nth-child(2) {background: palevioletred}